<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>IP Address</string>
			<key>Key</key>
			<string>ipaddress_preference</string>
			<key>DefaultValue</key>
			<string>192.168.1.104</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Accel Refresh (Hz)</string>
			<key>Key</key>
			<string>accel_preference</string>
			<key>DefaultValue</key>
			<string>60</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Compass Refresh (Degrees)</string>
			<key>Key</key>
			<string>compass_preference</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>App Title</string>
			<key>Key</key>
			<string>title_preference</string>
			<key>DefaultValue</key>
			<string>Acceli Megameter</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>UIKeyboardTypeDefault</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>A Button Name</string>
			<key>Key</key>
			<string>buttona_preference</string>
			<key>DefaultValue</key>
			<string>A</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>UIKeyboardTypeDefault</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>B Button Name</string>
			<key>Key</key>
			<string>buttonb_preference</string>
			<key>DefaultValue</key>
			<string>B</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>UIKeyboardTypeDefault</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
